nb-cli
nonebot2>=2.0.0rc2
nonebot-adapter-onebot>=2.2.0
nonebot-plugin-apscheduler
nonebot-plugin-guild-patch
nonebot-plugin-imageutils
langid
pydub
httpx
aiofile
aiofiles
mockingbirdforuse==0.2.3
aiohttp[speedups]
arrow
bbcode
cachetools
emoji
feedparser
deep-translator
ImageHash
magneturi
pikpakapi
Pillow
pydantic
pyquery
python-qbittorrent
tenacity
tinydb
typing-extensions
yarl
lxml
diskcache
PicImageSearch
psutil
ujson
