nb-cli>=1.4.1
nonebot2[fastapi]>=2.2.1
nonebot-adapter-onebot>=2.4.1
nonebot-plugin-alconna
nonebot-plugin-antiinsult
nonebot-plugin-apscheduler
nonebot-plugin-blacklist
nonebot-plugin-eavesdropper
nonebot-plugin-looklike
nonebot-plugin-repesix
nonebot-plugin-send-anything-anywhere
nonebot-plugin-system-command
aiofiles
aiohttp[speedups]
arrow
async_timeout
binance-connector
cachetools
dbutils
deep-translator
diro-py
diskcache
emoji
feedparser
imagehash
langid
magneturi
picimagesearch
pikpakapi
pil-utils
psutil
pydub
python-qbittorrent
shelved-cache
tenacity
tinydb
ujson
